<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
 <body>
        <header>
            <h1><a href="#">My Django Blog</a></h1>
        </header>

        <article>
            <h2><a href="">My first post</a></h2>
            <p> I get my first website and blog done on DJANGO! Now, I am happy!</p>
            <p> I get my first website and blog done on DJANGO! Now, I am happy!</p>
        <time>published: 2025-05-16, 20:27:41</time>
        </article>

        <article>
            <h2><a href="">My second post</a></h2>
            <p>LEADERSHIP: Everything rises and fall on a leader.</p>
        <time>published: 2025-06-30, 19:16:47</time>
        </article>
    </body>
</html>